
.headerContainer{
  margin-bottom:4%;
  display:flex;
  margin-top:5%;
}


.h1{
    margin-left: 5%;
    color: #82b6ce;
    font-family: 'Caviar Dreams';
    font-weight: bolder;
    font-size: 250%;
}

.App{
    margin-top:0.4%;
    color: #82b6ce;
    font-family: 'Caviar Dreams';
    margin-left: .5%;
    font-weight: bold;
    
}

@font-face{
    font-family: "Caviar Dreams";
    src:url('../../CaviarDreams.ttf') format('truetype');
  }


.icons{
    margin-top:-1%;
    margin-left: 40%;
}

.githubIcon{
    color:#779EA7;
    font-size: 200%;
    background-color: transparent;
    outline:none;
}

.ui.button{
    background-color:transparent;
    outline:none;
}

.linkedinIcon{
    color:#779EA7;
    font-size: 200%;
    background-color: transparent;
    outline:none;
}

.websiteLink{
    color:#528fa8;
    ;
}

@media only screen and (max-width:700px) {
     .headerContainer{
      display:none;
    }
  }

  @media only screen and (max-width:820px)
  and (orientation : landscape) {
      .headerContainer{
       display:none;
       
     }
   }

  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
      .headerContainer{
          display:none;
      }
    }