.projectContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  
  }
  
  
  /* .projectText, .projectTitle{
      text-align:center;
      color:#82b6ce;
      font-family: 'Raleway Dots', cursive; 
      font-size: 15px;
  } */

  .p-pText{
    font-size: 30px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
  }