.greeting{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 30px;
}
    

.homeText{
    font-size: 15px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 500;
  font-style: bold;
}

.topMainText{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 500;
  font-style: normal;
    font-size:17px;

}

.topic{
    font-weight: bold;
    font-size: 17px;
}

.subTopic{
    font-weight: normal;
    font-size: 15px;
    
}



@media (max-width: 480px){
    .greeting{
        line-height: 1.5; /* Adjust the value as needed */
}
        }
    
  