.textOne{
    width: 45%;
    font-size: 120%;
    margin-left: 5%;
    margin-top: 12%;
    float:left;
    position:absolute;
    color:#528fa8;
    font-family: 'Caviar Dreams';
    font-weight:bold;
    line-height: 1.7;
    
}





@font-face{
    font-family: "Caviar Dreams";
    src:url('../../CaviarDreams.ttf') format('truetype');
  }
