.textOne{
    width: 45%;
    font-size: 120%;
    margin-left: 5%;
    margin-top: 12%;
    float:left;
    position:absolute;
    color:#528fa8;
    font-family: 'Caviar Dreams';
    font-weight:bold;
    line-height: 1.7;
    
}
@font-face{
    font-family: "Caviar Dreams";
    src:url('../../CaviarDreams.ttf') format('truetype');
 }






  @media only screen 
  and (max-device-width : 700px)
  and (orientation:portrait) {
 
    .textOne{
        margin-top:40%;
    }
    }
  



@media only screen 
  and (max-device-width : 500px)
  and (orientation: portrait) {

    .textOne{
        width: 80%;
        float:none;
        display: block;
        font-size: 110%;
        text-align:center;
        margin-left: 10%;
        margin-top:10%;
    }
  }

  

  @media only screen 
  and (max-device-width : 820px)
  and (orientation:landscape) {

    .textOne{
    font-size: 110%;
    margin-left: 5%;
    margin-top: 12%;
    float:left;
    position:absolute;
    color:#528fa8;
    font-family: 'Caviar Dreams';
    font-weight:bold;
    line-height: 1.7;
  }
}

  