


@media only screen and (min-width:820px)
and (orientation : landscape) {
    .navbar {
     display:none;
     
   }
 }


 @font-face{
    font-family: "Caviar Dreams";
    src:url('../../CaviarDreams.ttf') format('truetype');
  }

  nav{
      font-family: "Caviar Dreams";
      width:100%;
      position:absolute;
      white-space: nowrap;
      
  }


