.projectContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-bottom: 10%;
    
  }
  
  .p-pText{
    font-size: 50px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  /* .projectText, .projectTitle{
      text-align:center;
      color:#82b6ce;
      font-family: 'Raleway Dots', cursive; 
      font-size: 15px;
  } */


  @media (max-width: 480px){
    .bb{
    margin-top: 10% !important;
    margin-bottom: 10%;
   }
  }