/* .icons{
    display:inline-flex;
    margin-top:80%;
    width:100%;
    justify-content: space-around;
    position:absolute;
    bottom:0;
    align-items: flex-end;
    z-index:0;
  
    
    
}

.githubIcon{
    color:#779EA7;
    font-size: 300%;
    background-color: transparent;
    outline:none;
}

.ui.button{
    background-color:transparent;
    outline:none;
}

.linkedinIcon{
    color:#779EA7;
    font-size: 300%;
    background-color: transparent;
    outline:none;
} */

