.bottom{
    display:inline-flex;
    margin-top:100%;
    margin-bottom: 1%;
    width:100%;
    justify-content: space-evenly;
    position:fixed;
    bottom:0;
    align-items: flex-end;
    z-index:0;
    font-family: "Caviar Dreams";
    color:#528fa8;
    font-weight: bold;
    font-size:110%;
}

.email{
    margin-right:5%;
}

.phone{
    margin-left: 5%;
}


@font-face{
    font-family: "Caviar Dreams";
    src:url('../../CaviarDreams.ttf') format('truetype');
  }