

.bar {
    
    width: 1px;
    height: 50%;
    border-right: 3px solid silver;
    position: absolute;
    top: 30%;
    left: 62%;
       
       
      }

 
@media only screen 
and (max-device-width : 500px) {
   .bar{
    display:none;
}
    
}